body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  body h1, body h2, body h3, body h4, body h5 {
    font-weight: 100;
    font-family: "Maven Pro", sans-serif; }

.btn {
  border-radius: 30px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold; }

.btn-lg {
  padding: 14px 32px;
  font-weight: bold;
  font-size: 16px; }

.btn-primary {
  background: #7ed6dc;
  border: none; }
  .btn-primary:hover {
    background: #10b0bb; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.table tr > td {
  border: none; }

.navbar.utility {
  margin-bottom: 0; }
  .navbar.utility .navbar-nav li a {
    font-family: "Maven Pro", sans-serif;
    font-size: 12px;
    color: #ababab; }
.navbar.main {
  margin-bottom: 0; }
  .navbar.main .navbar-nav li a {
    font-family: "Maven Pro", sans-serif;
    color: #363636;
    font-weight: bold; }
.navbar .navbar-nav li:last-child a {
  padding-right: 0; }
.navbar .navbar-brand {
  padding: 0 15px; }
  .navbar .navbar-brand img {
    width: 110px;
    height: auto; }

section img {
  max-width: 100%;
  height: auto; }
section h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 38px; }
  section h2.flat {
    margin-bottom: 10px; }
section .intro {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px; }
section p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 2em; }

.hero {
  background: #363636 url("../img/ui-pattern.jpg") repeat;
  color: white;
  margin: 0; }
  .hero h1 {
    font-size: 32px;
    margin: 0 0 30px; }
  .hero ul {
    margin: 0 0 30px; }
    .hero ul li {
      font-size: 20px;
      margin-bottom: 10px; }

.logos {
  background: #f3f3f3;
  padding: 2em 0; }
  .logos .col-sm-2 {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    color: #363636; }
    .logos .col-sm-2 img {
      height: 50px;
      width: auto;
      display: inline-block;
      vertical-align: middle; }

.features {
  padding: 3em 0; }

.modules {
  padding: 3em 0;
  background: #f3f3f3; }
  .modules .nav-tabs {
    margin-bottom: -1px; }
    .modules .nav-tabs li {
      display: inline-block; }
      .modules .nav-tabs li:first-child {
        margin-left: 10px; }
      .modules .nav-tabs li.two, .modules .nav-tabs li.three, .modules .nav-tabs li.four, .modules .nav-tabs li.five {
        margin-left: 2px; }
      .modules .nav-tabs li.active a {
        background: white;
        border-bottom: 1px solid white; }
      .modules .nav-tabs li a {
        background: #f9f9f9;
        border: 1px solid #dadada;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        margin: 0;
        padding: 15px 30px;
        text-align: center;
        font-size: 14px;
        color: #363636; }
  .modules .tab-content {
    border: 1px solid #dadada;
    margin: 0; }
    .modules .tab-content .tab-pane {
      padding: 2em 50px;
      background: white; }
      .modules .tab-content .tab-pane h3 {
        font-size: 32px; }
      .modules .tab-content .tab-pane h4 {
        font-size: 20px;
        margin-bottom: 10px; }
      .modules .tab-content .tab-pane .intro {
        text-align: left;
        font-size: 20px; }
      .modules .tab-content .tab-pane img {
        margin-bottom: 30px; }
        .modules .tab-content .tab-pane img.reduced {
          max-width: 90%;
          display: inline-block; }
      .modules .tab-content .tab-pane p {
        font-size: 16px; }
      .modules .tab-content .tab-pane ul li {
        font-size: 16px;
        margin-bottom: 10px; }
      .modules .tab-content .tab-pane .cta {
        padding: 2em 0; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
